.text-green {
  color: #4caf50;
}

.text-blue {
  color: #2196f3 !important;
}

.text-primary {
  color: #64ffda !important;
}

.text-black {
  color: #000 !important;
}

.text-red {
  color: red;
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02);
}

.bg-blue {
  background-color: rgb(28, 0, 212);
}

.bg-primary {
  background-color: #64ffda;
}

.bg-secondary {
  background-color: #0a192f;
}

.bg-secondary-05 {
  background-color: #0a192f2a;
}
